* {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 900px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  box-shadow: 0px 3px 10px black, 0px -2px 7px black;
}

.box {
  width: 100px;
  height: 100px;
  margin: 20px;
  background-color: white;
  box-shadow: 3px 3px 5px #333, -2px -1px 4px #333
}

button {
  width: 100px;
  margin: 15px 0px;
  padding: 5px 10px;
  border: none;
  background: linear-gradient(#696969, #A9A9A9);
  box-shadow: 1px 1px 2px black, -1px -1px 2px black;
}

button:hover {
  cursor: pointer;
}

button:active {
  position: relative;
  top: 2px;
}

.turn-clock {
  animation-name: turn-clock;
  animation-duration: 0.7s;
}
.turn-counter {
  animation-name: turn-counter;
  animation-duration: 0.7s;
}

@keyframes turn-clock {
  to {
    transform: rotate(360deg);
  }
}
@keyframes turn-counter {
  to {
    transform: rotate(-360deg);
  }
}
